.header {
  text-align: center;
  margin-bottom: 2rem;
}

.title {
  color: var(--secondary-color);
  font-size: 2.5rem;
  margin-bottom: 0.5rem;
  letter-spacing: 1px;
}

.tagline {
  font-style: italic;
  color: #777;
  margin-bottom: 1rem;
}

.controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.controlBtn {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 1.5rem;
  color: var(--text-color);
  transition: color 0.3s;
}

.controlBtn:hover {
  color: var(--primary-color);
}
